name: libogc2 build

on: [push, pull_request]

jobs:
  build:
    name: Build libogc2
    runs-on: ubuntu-latest
    container: devkitpro/devkitppc:latest

    steps:
    - name: Install packages
      run: |
        sudo dkp-pacman-key --recv-keys C8A2759C315CFBC3429CC2E422B803BA8AA3D7CE --keyserver keyserver.ubuntu.com
        sudo dkp-pacman-key --lsign-key C8A2759C315CFBC3429CC2E422B803BA8AA3D7CE
        sudo sed -i '/^\[dkp-libs\]$/,$d' /opt/devkitpro/pacman/etc/pacman.conf
        sudo echo -e '[extremscorner-devkitpro]\nServer = https://packages.extremscorner.org/devkitpro/linux/$arch' >> /opt/devkitpro/pacman/etc/pacman.conf
        sudo dkp-pacman -Sy
        sudo dkp-pacman -S --noconfirm --ask 4 gamecube-tools-git libogc2-cmake ppc-libmad

    - name: Checkout libogc2
      uses: actions/checkout@main
      with:
        path: libogc2

    - name: Checkout libdvm
      uses: actions/checkout@main
      with:
        repository: extremscorner/libdvm
        path: libdvm

    - name: Checkout libntfs
      uses: actions/checkout@main
      with:
        repository: extremscorner/libntfs
        path: libntfs

    - name: Build libogc2
      run: make install
      working-directory: libogc2

    - name: Build libdvm
      run: catnip install gamecube wii
      working-directory: libdvm

    - name: Build libntfs
      run: make install
      working-directory: libntfs

    - name: Upload artifacts
      uses: actions/upload-artifact@main
      with:
        name: libogc2
        path: /opt/devkitpro/libogc2

    - name: Checkout gamecube-examples
      uses: actions/checkout@main
      with:
        repository: extremscorner/gamecube-examples
        path: gamecube-examples

    - name: Checkout wii-examples
      uses: actions/checkout@main
      with:
        repository: extremscorner/wii-examples
        path: wii-examples

    - name: Build gamecube-examples
      run: make
      working-directory: gamecube-examples

    - name: Build wii-examples
      run: make
      working-directory: wii-examples

    - name: Upload gamecube-examples
      uses: actions/upload-artifact@main
      with:
        name: gamecube-examples
        path: gamecube-examples/bin

    - name: Upload wii-examples
      uses: actions/upload-artifact@main
      with:
        name: wii-examples
        path: wii-examples/bin
