name: libogc2 build

on: [push, pull_request]

jobs:
  build:
    name: Build libogc2
    strategy:
      matrix:
        os: [ubuntu-24.04, ubuntu-24.04-arm]
    runs-on: ${{ matrix.os }}
    container: ghcr.io/extremscorner/libogc2:latest

    steps:
    - name: Checkout libogc2
      uses: actions/checkout@main
      with:
        path: libogc2

    - name: Checkout libdvm
      uses: actions/checkout@main
      with:
        repository: extremscorner/libdvm
        path: libdvm

    - name: Checkout libntfs
      uses: actions/checkout@main
      with:
        repository: extremscorner/libntfs
        path: libntfs

    - name: Build libogc2
      run: make install
      working-directory: libogc2

    - name: Build libdvm
      run: catnip install gamecube wii
      working-directory: libdvm

    - name: Build libntfs
      run: make install
      working-directory: libntfs

    - name: Upload artifacts
      if: ${{ matrix.os == 'ubuntu-24.04-arm' }}
      uses: actions/upload-artifact@main
      with:
        name: libogc2
        path: /opt/devkitpro/libogc2

    - name: Checkout gamecube-examples
      uses: actions/checkout@main
      with:
        repository: extremscorner/gamecube-examples
        path: gamecube-examples

    - name: Checkout wii-examples
      uses: actions/checkout@main
      with:
        repository: extremscorner/wii-examples
        path: wii-examples

    - name: Build gamecube-examples
      run: make
      working-directory: gamecube-examples

    - name: Build wii-examples
      run: make
      working-directory: wii-examples

    - name: Upload gamecube-examples
      if: ${{ matrix.os == 'ubuntu-24.04-arm' }}
      uses: actions/upload-artifact@main
      with:
        name: gamecube-examples
        path: gamecube-examples/bin

    - name: Upload wii-examples
      if: ${{ matrix.os == 'ubuntu-24.04-arm' }}
      uses: actions/upload-artifact@main
      with:
        name: wii-examples
        path: wii-examples/bin
